<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for joining Stockology, <%= @user.name %>!</h1>
    <p>We will be sending you weekly emails notifying you of any developments we have made 
        to the site. Welome and enjoy!</p>
  </body>
</html>