<% if @friendships.count > 0 %>
    <h1>My Friends</h1> 
    <table align="center" class="table table-striped col-md-6">
        <% @friendships.each do |friend| %>
            <tr>
                <td><%= link_to friend.name, user_path(friend) %></td>
                <td><%= friend.email %></td> 
                <td><%= link_to "Remove Friend", friendship_path(friend), method: :delete, data: { confirm: "Are you sure?" } %> 
            </tr>
        <% end %>
    </table>
<% else %>
    <h3>You have no friends yet</h3> 
    <h3>Let's make some friends!</h3>
<% end %>