<table align="center">
    <tr>
            <th>User Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
    </tr>
    <% @users.each do |user| %>
        
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
    
    <% end %>
</table>